/** Front Template **/
<div class="front-card">{{furigana:Frente}}</div>

/** Back Template **/
{{FrontSide}}

<hr id=answer>

<div class="back-card">{{furigana:Verso}}</div>

/** Styling **/
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.card {
  background-color: white; 
  color: black;
  font-family: Open Sans, "IBM Plex Mono", Noto Sams, monospace;
  font-size: 40px; /** Default value: 20px **/
  text-align: center;
}

.front-card { 
  font-family: "DFKyoKaSho-W4", Open Sans, "IBM Plex Mono", Noto Sams, sans-serif;
  font-size: 40px; /** Prev value: 26px **/  
}

.front-card rt { 
  color: transparent;
  font-size: 13px;
}

.front-card:hover rt { 
  color: inherit 
}

.back-card { 
  font-family: Open Sans, "IBM Plex Mono", Noto Sams, monospace;  
  font-size: 26px;
  margin-bottom: 20px;  
}
